apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: java-bootstrap-dev
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/rg-hermann/java-bootstrap-infra.git'
    targetRevision: HEAD
    path: . 
    helm:
      valueFiles:
        - values-dev.yaml
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: dev-apps
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
