k8s-helm-templates:
  replicaCount: 3

  image:
    repository: ghcr.io/rg-hermann/java-bootstrap
    tag: "1.0.0"
    pullPolicy: IfNotPresent

  autoscaling:
    enabled: true
    minReplicas: 3
    maxReplicas: 10
    targetCPUUtilizationPercentage: 75

  env:
    SPRING_PROFILES_ACTIVE: prod
    JAVA_OPTS: "-XX:MaxRAMPercentage=80.0"

  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 768Mi